* {
    background-color: #e1e8f0;
    font-family: 'Lato', sans-serif;

}

h1 {
    color: #F53240;
    font-family: 'Chewy', cursive;
    text-align: center;

}

#random-image {
    height: 208px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searched-image {
    height: 208px;
    width: 325px;

}

#favorite-image {
    height: 208px;
    width: 325px;
    display: inline;
    position: relative;

}

#favoriteDiv {
    background-color: #6ed3cf;
    display: inline;

}

span {
    background-color: #6ed3cf;
    text-align: right;
    font-family: 'Lato', sans-serif;

}

#favoriteFavorite {
  background-color: #6ed3cf;
  text-align: center;
  display: block;
}

#home-href {
  background-color: #6ed3cf;
  text-align: center;
  display: block;
}

#favoritesdiv {

  height: 208px;
  width: 325px;
display: inline;
}

button {

text-align: center;

}
#image-comments {

display: inline;

}
